body {
    background-image: url('../../../assets/image/triki/fondotriki.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#word-container span, #word-container1 span {
    font-size: 2rem; /* Ajusta el tamaño según sea necesario */
    border-bottom-width: 2px;
    border-style: dashed;
    border-color: #4A5568; /* Cambia el color si es necesario */
    padding: 0 0.5rem;
    margin: 0 0.25rem;
}

#virtual-keyboard {
    display: none;
}

/* Mostrar el teclado en dispositivos móviles */
@media (max-width: 768px) {
    #virtual-keyboard {
        display: flex;
    }
}

.key {
    background: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}